body {
  background: rgb(250, 227, 227);
}
.change-password {
  padding-top: 76px;
}
.change-password-form {
  background: white;
  padding: 40px;
  margin-top: 50px;
}
.change-password-form input {
  padding: 5px;
  margin: 5px;
}
#btn-change {
  padding: 10px;
  border: none;
  color: white;
  background: var(--green);
  margin-top: 20px;
}
