/* ANNOUNCEMENTS ============================*/
.announcements {
  background: rgb(231, 243, 239);
}
.announcements h1 {
  color: white;
  font-weight: bold;
}
.card-custom {
  border-left: 4px solid var(--lightgreen);
}
.card-custom h3 {
  font-size: 1.4rem;
  margin-bottom: 15px;
  color: var(--green);
  font-weight: bold;
}
.card-custom p {
  color: rgb(73, 73, 73);
  font-size: 0.9rem;
}
.no-border {
  border: none;
}
