/* Poppins and DM Serif font */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:ital@0;1&display=swap");
:root {
  --green: #0b6b09;
  --gold: #efd314;
  --darkgray: #181818;
  --lightgray: #202121;
}
body {
  font-family: "Poppins", serif;
}
.school-name {
  margin-bottom: 20px;
}
.school-name div > h3 {
  font-family: "DM Serif Display", serif;
}
.school-name div > * {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
  color: white;
  margin: 0;
}
section {
  background: url("../assets/images/udm_login_bg_desktop.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* login form */
.login-form {
  width: 320px;
  height: auto;
  background: white;
  padding: 20px;
  margin-bottom: 50px;
}
.login-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-form form input {
  width: 100%;
  color: var(--green);
  border: none;
  border-bottom: 1px solid var(--green);
  margin-bottom: 5px;
  background: rgb(228, 245, 228);
}
.login-form form label {
  font-size: 0.8rem;
  color: var(--green);
}
.login-form form > .btn-login-submit {
  border: none;
  padding: 5px 0;
  margin-top: 30px;
  background: var(--green);
  color: white;
  font-weight: bold;
  width: 100%;
  transition: background 0.2s;
}
.login-form form > .btn-login-submit:hover {
  background: var(--gold);
}
/* login status message */
.login-form form > .login-status-msg {
  font-size: 0.8rem;
  background: rgb(255, 232, 232);
  border: 0.5px solid rgb(255, 106, 106);
  color: rgb(255, 58, 58);
  width: 100%;
  padding: 3px 10px;
  font-weight: bold;
  text-align: center;
}
