/* school name , logo and details */
.school-name {
  margin-bottom: 20px;
}
.school-name div > h3 {
  font-family: "DM Serif Display", serif;
}
.school-name div > * {
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8);
  color: white;
  margin: 0;
}
/* main */
section {
  background: url("../assets/images/udm_login_bg_desktop.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* login form */
.login-form {
  width: 320px;
  height: auto;
  background: white;
  padding: 20px;
  margin-bottom: 100px;
}
.login-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* login form textboxes */
.login-form form input {
  width: 100%;
  color: var(--green);
  border: none;
  border-bottom: 1px solid var(--green);
  margin-bottom: 5px;
  background: rgb(228, 245, 228);
}
.login-form form label {
  font-size: 0.8rem;
  color: var(--green);
}
/* login form button */
.login-form form > .btn-login-submit {
  border: none;
  padding: 5px 0;
  margin-top: 30px;
  background: var(--green);
  color: white;
  font-weight: bold;
  width: 100%;
  transition: background 0.2s;
}
.login-form form > .btn-login-submit:hover {
  background: var(--gold);
}
/* login status message */
.login-form form > .login-status-msg {
  font-size: 0.8rem;
  background: rgb(255, 232, 232);
  border: 0.5px solid rgb(240, 194, 194);
  color: rgb(255, 58, 58);
  width: 100%;
  padding: 3px 10px;
  font-weight: bold;
  text-align: center;
}
/* forgot password link */
.forgot-password {
  margin-top: 8px;
  font-size: 0.8rem;
  color: var(--green);
  font-weight: bold;
  text-decoration: none;
}
footer {
  height: 5vh;
  margin-top: 0;
}
/* mobile */
@media (max-width: 576px) {
  .login-form {
    margin-bottom: 120px;
  }
  .school-name {
    margin-bottom: 10px;
  }
  .school-name div > h3 {
    font-size: 1.2rem;
  }
  .school-name div > * {
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8);
    font-size: 0.8rem;
  }
}
