.profile {
  padding: 20px 0;
}
.profile div {
  font-size: 0.9rem;
  margin-inline: 10px;
}
.profile > div > p {
  margin: 0;
  padding: 0;
  color: rgb(73, 73, 73);
}
.profile > div > p span {
  font-weight: bold;
  color: rgb(0, 0, 0);
}
/* section profile */

.container-form {
  width: 60%;
  margin-inline: auto;
}
.profile-form label {
  font-size: 0.7rem;
}
.seperate1,
.seperate2,
.seperate3,
.seperate4 {
  background: rgb(215, 229, 247);
  padding: 20px;
  box-shadow: 0px 2px 10px 0px rgba(102, 102, 102, 0.1);
  -webkit-box-shadow: 0px 2px 10px 0px rgba(102, 102, 102, 0.1);
  -moz-box-shadow: 0px 2px 10px 0px rgba(102, 102, 102, 0.1);
  margin-top: 5px;
}
.seperate4 {
  margin-bottom: 50px;
}
.profile-form {
  position: relative;
}
/* floating buttons */
.floating-buttons {
  position: fixed;
  top: 80%;
  right: 10%;
}
.floating-buttons button {
  border: none;
  padding: 5px 20px;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 2px 40px 0px rgba(102, 102, 102, 0.1);
  -webkit-box-shadow: 0px 2px 40px 0px rgba(102, 102, 102, 0.1);
  -moz-box-shadow: 0px 2px 40px 0px rgba(102, 102, 102, 0.1);
  margin: 10px;
}
.floating-buttons button:first-child {
  background: rgb(23, 100, 214);
}
.floating-buttons button:nth-child(2) {
  background: rgb(12, 179, 54);
  display: none;
}
.floating-buttons button:nth-child(3) {
  background: rgb(212, 47, 47);
  display: none;
}
/* table to phone */
@media (max-width: 992px) {
  .container-form {
    width: 80%;
  }
  .profile div {
    font-size: 0.7rem;
    margin-inline: 5px;
  }
}
@media (max-width: 768px) {
  .container-form {
    width: 90%;
  }
  .profile div {
    font-size: 0.7rem;
    margin-inline: 5px;
  }
}
