/* Poppins and DM Serif font */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:ital@0;1&display=swap");
:root {
  --green: #0b6b09;
  --lightgreen: #3cb167;
  --gold: #efd314;
  --darkgray: #181818;
  --lightgray: #464646;
  --default: 16px;
}
body {
  font-family: "Poppins", serif;
}
.lightgray {
  color: var(--lightgray);
}
.bg-white {
  background: white;
}
.bg-green {
  background: var(--green);
}
.bg-gold {
  background: var(--gold);
}
.green {
  background: var(--green);
}
.gold {
  background: var(--gold);
}
.white {
  color: white;
}
.hover-gold {
  transition: color 0.2s ease-out;
}
.hover-gold:hover {
  color: var(--gold);
}
.hover-lightgreen:hover {
  color: var(--lightgreen);
}
.active {
  color: var(--lightgreen);
}
.lightgreen {
  color: var(--lightgreen);
}
.default-size {
  font-size: var(--default);
}
.active-link {
  color: var(--lightgreen);
  border-bottom: 4px solid var(--lightgreen);
  margin-bottom: -4px;
}
.btn-logout {
  border: none;
  background: white;
  font-weight: bold;
  text-transform: capitalize;
  color: rgb(155, 37, 37);
  font-size: var(--default);
  padding: 6px 8px 8px 8px;
  margin-bottom: 1px;
}
.btn-logout:hover {
  color: rgb(219, 26, 26);
}
.nav-link-custom {
  padding: 8px;
  text-decoration: none;
}
.card-custom {
  border-radius: 5px;
  padding: 20px 20px 20px 40px;
  background: white;
  margin: 10px;
  box-shadow: 0px 2px 20px 0px rgba(102, 102, 102, 0.1);
  -webkit-box-shadow: 0px 2px 20px 0px rgba(102, 102, 102, 0.1);
  -moz-box-shadow: 0px 2px 20px 0px rgba(102, 102, 102, 0.1);
}
.gold-gradient {
  background: linear-gradient(to bottom, rgb(252, 222, 56), var(--gold));
  border: none;
}
/* staus messages ----------------------- */
.sucess-status-msg-style {
  font-size: 1rem;
  background: rgb(239, 255, 232);
  border: 0.5px solid rgb(199, 240, 194);
  color: rgb(33, 218, 79);
  width: 100%;
  padding: 3px 10px;
  font-weight: bold;
}
/* css class for status msg */
.status-msg-style {
  font-size: 0.8rem;
  background: rgb(255, 232, 232);
  border: 0.5px solid rgb(240, 194, 194);
  color: rgb(255, 58, 58);
  width: 100%;
  padding: 3px 10px;
  font-weight: bold;
}
/* custom slide of navbar */
@media (max-width: 992px) {
  .navbar-nav {
    margin-inline: 0;
    margin-right: -30px;
  }
  .navbar-nav > li {
    width: 100%;
    text-align: center;
    margin: 5px 0;
  }
  .active-link {
    background: var(--lightgreen);
    color: white;
  }
  .navbar-collapse {
    position: fixed;
    top: 76px;
    right: 0;
    padding-left: 8px;

    width: 50%;
    height: 100%;
  }

  .navbar-collapse.collapsing {
    right: -75%;
    transition: height 0s ease;
  }

  .navbar-collapse.show {
    right: 0;
    transition: right 300ms ease-in-out;
  }

  .navbar-toggler.collapsed ~ .navbar-collapse {
    transition: right 500ms ease-in-out;
  }
}
